{
    "SRV6_MY_LOCATORS": {
         "loc1": {
             "prefix": "fcbb:bbbb:1::"
         }
    },
    "SRV6_MY_SIDS": {
         "loc1|fcbb:bbbb:1::/48": {
             "action": "uN",
             "decap_dscp_mode": "pipe"
         }
    },
    "INTERFACE": {
        {% set ports = get_right_left_ports_dict() %}
        {% set right_ports = ports["right_ports"] %}
        {% set left_ports = ports["left_ports"] %}
        {% set all_ports = left_ports + right_ports %}


        {% for port in all_ports %}
        "{{port}}|fcbb:aaaa:{{loop.index + 1}}::/48": {}{% if not loop.last %},{% endif %}
        {% endfor %}
    }
}