  <DeviceInfos>
    <DeviceInfo>
      <AutoNegotiation>true</AutoNegotiation>
      <EthernetInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
{% if switch_type is not defined or switch_type != 'fabric' %}
{% set num_of_intf = port_alias | length %}
{% for index in range(num_of_intf) %}
        <a:EthernetInterface>
          <ElementType>DeviceInterface</ElementType>
          <AlternateSpeeds i:nil="true"/>
          <EnableAutoNegotiation>true</EnableAutoNegotiation>
          <EnableFlowControl>true</EnableFlowControl>
          <Index>1</Index>
          <InterfaceName>{{ port_alias[index] }}</InterfaceName>
          <InterfaceType i:nil="true"/>
          <MultiPortsInterface>false</MultiPortsInterface>
          <PortName>0</PortName>
          <Priority>0</Priority>
{% if (inventory_hostname == "mtbc-sonic-01-2410") %}
    {% if index >= 48 %}
          <Speed>100000</Speed>
    {% else %}
          <Speed>25000</Speed>
    {% endif %}
{% elif (inventory_hostname == "arc-switch1004" or inventory_hostname == "arc-switch1025" or inventory_hostname == "mtbc-sonic-03-2700" or inventory_hostname == "c-panther-01" or inventory_hostname == "r-panther-23") and index == 43 %}
          <Speed>10000</Speed>
{% else %}
    {%- if port_alias[index] in port_speed and port_speed[port_alias[index]] != ""  %}
          <Speed>{{ port_speed[port_alias[index]] }}</Speed>
    {%- else %}
        {%- if (inventory_hostname == "r-anaconda-81" or inventory_hostname == "arc-switch1025" or inventory_hostname == "mts-sonic-dut") and index >= 30 %}
          <Speed>50000</Speed>
        {%- elif inventory_hostname == "r-leopard-70" %}:
          <Speed>200000</Speed>
        {%- elif inventory_hostname == "r-leopard-72" %}:
            {%- if index <= 3 %}
                <Speed>400000</Speed>
            {%- else %}
                <Speed>200000</Speed>
            {%- endif %}
        {%- elif inventory_hostname == "mtvr-hippo-03" or inventory_hostname == "mtvr-hippo-02" %}
            {%- if index == 64 %}
                <Speed>25000</Speed>
            {%- else %}
                <Speed>200000</Speed>
            {%- endif %}
        {%- elif inventory_hostname == "r-leopard-58" %}:
            {%- if index == 15 %}
                <Speed>100000</Speed>
            {%- elif index == 17 or index == 18 %}
                <Speed>400000</Speed>
            {%- endif %}
        {%- elif inventory_hostname == "r-bobcat-01" %}:
          <Speed>400000</Speed>
        {%- elif (inventory_hostname == "r-moose-01" or inventory_hostname == "mtvr-moose-02" or inventory_hostname == "mtvr-moose-03" or inventory_hostname == "mtvr-moose-04") and index >= 62 %}
            {%- if index == 64 %}
                <Speed>25000</Speed>
            {%- else %}
                <Speed>100000</Speed>
            {%- endif %}
        {%- elif inventory_hostname == "arc-switch1038" %}
            {%- if index >= 16 and index <= 19 %}
          <Speed>25000</Speed>
            {%- elif index >= 20 and index <= 21 %}
          <Speed>50000</Speed>
            {%- elif index >= 30 %}
          <Speed>50000</Speed>
            {%- else %}
          <Speed>{{ iface_speed }}</Speed>
            {%- endif %}
        {%- elif inventory_hostname == "r-tigon-04" or inventory_hostname == "r-tigon-11" or inventory_hostname == "r-tigon-20" or inventory_hostname == "r-tigon-21" %}
            {%- if index >= 62 %}
          <Speed>50000</Speed>
            {%- else %}
          <Speed>{{ iface_speed }}</Speed>
            {%- endif %}
        {%- else %}
          <Speed>{{ iface_speed }}</Speed>
        {%- endif %}
    {%- endif %}
{%- endif %}

        </a:EthernetInterface>
{% endfor %}
{% endif %}
      </EthernetInterfaces>
      <FlowControl>true</FlowControl>
      <Height>0</Height>
      <HwSku>{{ hwsku }}</HwSku>
      <ManagementInterfaces/>
    </DeviceInfo>
  </DeviceInfos>
