Hostname,ManagementIp,HwSku,Type,Protocol,Os,PortConfigIni
{{setup_name}}-dut,{{dut_ip}}/22,{{hwsku}},DevSonic,,sonic
{{setup_name}}-fanout,{{fanout_ip}}/22,ACS-SN5640,FanoutLeaf,,sonic,files/hwsku_vars/{{setup_name}}/{{hwsku}}/port_config.ini
{{setup_name}}-hypervisor,{{hypervisor_ip}}/24,TestServ,Server,,