- conf-name: {{setup_name}}-dut-t0
  group-name: vm-t1
  topo: t0
  ptf_image_name: docker-ptf-mlnx
  ptf: ptf-{{setup_name}}
  ptf_ip: {{ptf_ip}}/24
  ptf_ipv6:
  server: server_1
  vm_base: VM0001
  dut:
    - {{setup_name}}-dut
  inv_name: lab
  comment: Air 6600 setup