{% set left_ports = get_right_left_ports_dict(bring_up_ports=False)['left_ports'] %}
{% set right_ports = get_right_left_ports_dict(bring_up_ports=False)['right_ports'] %}
{% set split_left = parameter_dict.split_left %}
{% set split_right = parameter_dict.split_right %}
{% set total_ports = parameter_dict.total_ports %}
{% set left_address_list = generate_ip_address_list("172.15.1.2", "172::1:2", mode="dual", number_of_address=(total_ports//2)*split_left) %}
{% set right_address_list = generate_ip_address_list("192.168.1.2", "192::1:2", mode="dual", number_of_address=(total_ports//2)*split_right) %}
{% set right_bgp_neighbors = generate_ip_address_list("192.168.1.1", "192::1:1", mode="dual", number_of_address=(total_ports//2)*split_left) %}
{% set left_bgp_neighbors = generate_ip_address_list("172.15.1.1", "172::1:1", mode="dual", number_of_address=(total_ports//2)*split_right) %}
{% set two_sided_ar = parameter_dict.two_sided_ar | string %}
- header:
    model: sn5600
    nvue-api-version: nvue_v1
    rev-id: 1.0
    version: Cumulus Linux 5.15.0   
- set:
    interface:
      eth0:
        ipv4:
          dhcp-client:
            state: enabled
            set-hostname: disabled
        vrf: mgmt
        type: eth
    {% if split_left!=1 %}
    {% for port in left_ports  %}
      {{ port }}:
        link:
          breakout:
            {{ split_left }}x: {}
        type: swp
    {% endfor %}
    {% endif %}
    {% if split_right!=1 %}
    {% for port in right_ports  %}
      {{ port }}:
        link:
          breakout:
            {{ split_right }}x: {}
        type: swp
    {% endfor %}
    {% endif %}
    {% set counter = namespace(value=0) %}
    {% for port in left_ports %}
    {% for split in range(0, split_left) %}
      {{ port }}{% if split_left != 1 %}s{{ split }} {% endif %}:
        ipv4:
          address:
            {{ left_address_list["v4"][counter.value] }}/24 : {}
        ipv6:
          address:
            {{ left_address_list["v6"][counter.value] }}/120 : {}
        {% set counter.value = counter.value + 1 %}
        {% if two_sided_ar=='True' %}
        router:
          adaptive-routing:
            state: enabled
        {% endif %}
        type: swp
    {% endfor %}
    {% endfor %}
    {% set counter = namespace(value=0) %}
    {% for port in right_ports %}
      {% for split in range(0, split_right)%}
      {{ port }}{% if split_right != 1 %}s{{ split }} {% endif %}:
        ipv4:
          address:
            {{ right_address_list["v4"][counter.value] }}/24 : {}
        ipv6:
          address:
            {{ right_address_list["v6"][counter.value] }}/120 : {}
        {% set counter.value = counter.value + 1 %}
        router:
          adaptive-routing:
            state: enabled
        type: swp
      {% endfor %}
    {% endfor %}
    qos:
      pfc:
        default-global:
          port-buffer: 20200
          switch-priority:
            '3': {}
          xoff-threshold: 65000
          xon-threshold: 65000
      roce:
        state: enabled
        mode: lossless
    router:
      adaptive-routing:
        state: enabled
      bgp:
        state: enabled
        autonomous-system: spine
        router-id: 3.3.3.3
      policy:
        route-map:
          prefer_v6_global:
            rule:
              '10':
                action:
                  permit: {}
                set:
                  ipv6-nexthop-prefer-global: enabled
    system:
      aaa:
        user:
          cumulus:
            full-name: cumulus,,,
            hashed-password: $y$j9T$9Cyz6WM14RJ7pTBn3vhNC1$f9Yv..6j2M98TBcNXHsephQHAwnhCQ9XNg0Sy5f7NV8
            role: system-admin
      api:
        state: enabled
      config:
        auto-save:
          state: enabled
      control-plane:
        acl:
          acl-default-dos:
            inbound: {}
          acl-default-whitelist:
            inbound: {}
      hostname: dut
      ssh-server:
        state: enabled
        max-sessions-per-connection: 30
        max-unauthenticated:
          throttle-start: 30
        permit-root-login: enabled
      telemetry:
        state: enabled
      wjh:
        channel:
          forwarding:
            trigger:
              l1: {}
              l2: {}
              l3: {}
              tunnel: {}
        state: enabled
    vrf:
      default:
        router:
          bgp:
            address-family:
              ipv4-unicast:
                multipaths:
                  ebgp: 256
                state: enabled
              ipv6-unicast:
                multipaths:
                  ebgp: 256
                state: enabled
            autonomous-system: spine    
            neighbor:
              {% for neighbor in left_bgp_neighbors["v4"] %}
              {{ neighbor }}:
                peer-group: v4_group_left
                type: numbered
              {% endfor %}
              {% for neighbor in left_bgp_neighbors["v6"] %}
              {{ neighbor }}:
                peer-group: v6_group_left
                type: numbered
              {% endfor %}
              {% for neighbor in right_bgp_neighbors["v4"] %}
              {{ neighbor }}:
                peer-group: v4_group_right
                type: numbered
              {% endfor %}
              {% for neighbor in right_bgp_neighbors["v6"] %}
              {{ neighbor }}:
                peer-group: v6_group_right
                type: numbered
              {% endfor %}
            peer-group:
              v4_group_left:
                address-family:
                  ipv4-unicast:
                    state: enabled
                remote-as: external
              v6_group_left:
                address-family:
                  ipv4-unicast:
                    state: disabled
                  ipv6-unicast:
                    state: enabled
                    policy:
                      inbound:
                        route-map: prefer_v6_global
                remote-as: external
              v4_group_right:
                address-family:
                  ipv4-unicast:
                    state: enabled
                remote-as: external
              v6_group_right:
                address-family:
                  ipv4-unicast:
                    state: disabled
                  ipv6-unicast:
                    state: enabled
                    policy:
                      inbound:
                        route-map: prefer_v6_global
                remote-as: external
            state: enabled  
