{% set port_list = filter_ports(["dut"]) %}
{% set total_ports = parameter_dict.total_ports %}
{% set split_left = parameter_dict.split_left %}
{% set dut_lldp_ports = port_list['dut'] %}
{% set mloop_lldp_ports = down_ports() %}
{% set dut_pre_split = cumulus_ports_match_requested_split(dut_lldp_ports, split_left) %}
{% set mloop_pre_split = cumulus_ports_match_requested_split(mloop_lldp_ports, split_left) %}
{% set _ = validate_no_unsupported_service_port_split(dut_lldp_ports, split_left, "SPX-RA left TG DUT-facing ports") %}
{% set _ = validate_no_unsupported_service_port_split(mloop_lldp_ports, split_left, "SPX-RA left TG mloop ports") %}
{% set dut_parent_ports = get_swp_parent_port_names(dut_lldp_ports) %}
{% set mloop_parent_ports = get_swp_parent_port_names(mloop_lldp_ports) %}
{% set _ = validate_no_overlapping_swp_parent_ports(dut_lldp_ports, mloop_lldp_ports, "SPX-RA left TG DUT-facing and mloop ports") %}
{% if dut_pre_split %}
{% set dut_ports = sort_swp_split_port_names(dut_lldp_ports) %}
{% else %}
{% set dut_ports = get_swp_ports_for_split(dut_lldp_ports, split_left) %}
{% endif %}
{% if mloop_pre_split %}
{% set mloop_ports = sort_swp_split_port_names(mloop_lldp_ports) %}
{% else %}
{% set mloop_ports = get_swp_ports_for_split(mloop_lldp_ports, split_left) %}
{% endif %}
{% set port_count = dut_ports|length %}
{% set address_list = generate_ip_address_list("172.15.1.1", "172::1:1", mode="dual", number_of_address=port_count) %}
{% set bgp_neighbors = generate_ip_address_list("172.15.1.2", "172::1:2", mode="dual", number_of_address=port_count) %}
{% set speed = parameter_dict.speed | int %}
- header:
    model: sn5600
    nvue-api-version: nvue_v1
    rev-id: 1.0
    version: Cumulus Linux 5.15.0
- set:
    acl:
      acl-drop-arp-bgp:
        rule:
          '1':
            action:
              deny: {}
            match:
              mac:
                protocol: arp
          '2':
            action:
              deny: {}
            match:
              ip:
                protocol: 1
              mac:
                protocol: ipv4
          '3':
            action:
              deny: {}
            match:
              ip:
                protocol: 58
              mac:
                protocol: ipv6
          '4':
            action:
              deny: {}
            match:
              ip:
                protocol: 6
              mac:
                protocol: ipv4
          '5':
            action:
              deny: {}
            match:
              ip:
                protocol: 6
              mac:
                protocol: ipv6
          '6':
            action:
              permit: {}
        type: mac
    bridge:
      domain:
        br_default:
          stp:
            state:
              down: {}
          vlan:
            200-800: {}
    interface:
      eth0:
        ipv4:
          dhcp-client:
            state: enabled
            set-hostname: disabled
        vrf: mgmt
        type: eth
      lo:
        ipv4:
          address:
            110.110.110.1/24: {}
        ipv6:
          address:
            110::1/120: {}

        type: loopback
    {% if split_left | int != 1 %}
    {% for port in dut_parent_ports %}
      {{ port }}:
{% include '_interface_link_phy_breakout.jinja' %}
          breakout:
            {{ split_left }}x: {}
        type: swp
    {% endfor %}
    {% endif %}
    {% if split_left | int != 1 %}
    {% for port in mloop_parent_ports %}
      {{ port }}:
{% include '_interface_link_phy_breakout.jinja' %}
          breakout:
            {{ split_left }}x: {}
        type: swp
    {% endfor %}
    {% endif %}
    {% set counter = namespace(value=0) %}
    {% for port in dut_ports %}
      {{ port }}:
      {% if not parameter_dict.get('link_phy_speed') %}
{% include '_interface_link_phy_optional.jinja' %}
      {% endif %}
        bridge:
          domain:
            br_default:
              access: {{ counter.value + 200 }}
              {% set counter.value = counter.value + 1 %}
              learning: disabled
        type: swp
    {% endfor %}
    {% set counter = namespace(value=0) %}
    {% for port in mloop_ports %}
      {{ port }}:
      {% if parameter_dict.get('link_phy_speed') %}
        link:
          speed: {{ parameter_dict.get('link_phy_speed') }}
      {% else %}
{% include '_interface_link_phy_optional.jinja' %}
      {% endif %}
        acl:
          acl-drop-arp-bgp:
            inbound: {}
        bridge:
          domain:
            br_default:
              access: {{ counter.value + 200 }}
              {% set counter.value = counter.value + 1 %}
              learning: disabled
        type: swp
    {% endfor %}
    {% for vlan in range(200, 200 + address_list["v4"]|length ) %}
      vlan{{ vlan }}:
        base-interface: br_default
        ipv4:
          address:
            {{ address_list["v4"][loop.index0] }}/24: {}
        ipv6:
          address:
            {{ address_list["v6"][loop.index0] }}/120: {}
        type: svi
        vlan: {{ vlan }}
    {% endfor %}
    qos:
      egress-shaper:
        default-global:
          port-max-rate: {{ (speed * 0.98) | int }}
    system:
      aaa:
        user:
          cumulus:
            full-name: cumulus,,,
            hashed-password: $y$j9T$8zsfwM2wUFOqZ6Rf3R52N1$arVIQV7VMODDweBK.amymemQTvZmugDDW6rnEF.fHS3
            role: system-admin
      api:
        state: enabled
      config:
        auto-save:
          state: enabled
      control-plane:
        acl:
          acl-default-dos:
            inbound: {}
          acl-default-whitelist:
            inbound: {}
      hostname: left-tg
      ssh-server:
        max-sessions-per-connection: 30
        max-unauthenticated:
          throttle-start: 30
        permit-root-login: enabled
    {% if parameter_dict.chip_type == 'SPC6' %}
      wjh:
        state: disabled
    {% endif %}
    router:
      bgp:
        state: enabled
        autonomous-system: leaf
        router-id: 1.1.1.1
    vrf:
      default:
        router:
          bgp:
            address-family:
              ipv4-unicast:
                network:
                  110.110.110.0/24: {}
                multipaths:
                  ebgp: 256
                state: enabled
              ipv6-unicast:
                network:
                  110::0/120: {}
                multipaths:
                  ebgp: 256
                state: enabled
            autonomous-system: leaf    
            neighbor:
              {% for neighbor in bgp_neighbors["v4"] %}
              {{ neighbor }}:
                peer-group: v4_group
                type: numbered
                update-source: {{ address_list["v4"][loop.index0] }}
              {% endfor %}
              {% for neighbor in bgp_neighbors["v6"] %}
              {{ neighbor }}:
                peer-group: v6_group
                type: numbered
                update-source: {{ address_list["v6"][loop.index0] }}
              {% endfor %}
            peer-group:
              v4_group:
                address-family:
                  ipv4-unicast:
                    state: enabled
                remote-as: external
              v6_group:
                address-family:
                  ipv4-unicast:
                    state: disabled
                  ipv6-unicast:
                    state: enabled
                remote-as: external
            state: enabled
