StartDevice,StartPort,EndDevice,EndPort,BandWidth,VlanID,VlanMode,AutoNeg
{% for i in range(0, 511) if i != 506 and i != 505 %}
{{ setup_name }}-dut,Ethernet{{ i }},{{ setup_name }}-fanout,Ethernet{{ i }},100000,{{ 10 + i }},Access,off
{%- endfor %}
{{ setup_name }}-dut,Ethernet512,{{ setup_name }}-fanout,Ethernet505,100000,522,Access,on
{{ setup_name }}-dut,Ethernet513,{{ setup_name }}-fanout,Ethernet506,100000,530,Access,on
{{ setup_name }}-fanout,Ethernet511,{{ setup_name }}-hypervisor,eth1,100000,10-530,Trunk,off