{
    "sdk_test_info":
        {
            "sdk_test_path": "sx_sdk_py_tests/tests/multi_os_tests/spcx_tests/spx_ra_tg.py",
            "sdk_test_name": "MultiDipsTG"
        },
    "{{ PerfConsts.SDK_TEST_CONF }}": {
            {% set ports = right_left_ports_dict %}
            {% set right_ports = ports["right_ports"] %}
            {% set left_ports = ports["left_ports"] %}
            {% set all_ports = left_ports + right_ports %}
            "split_dict": { "{{conf_args.split_left}}": {{all_ports | tojson}}},
            "fws_base_vlan": 200,
            "is_ipv6": "{{conf_args.is_ipv6}}",
            "shaper_val": "{{conf_args.shaper_value}}",
            "key_un_fws": "un_fws_port_{}",
            "smac": "00:01:02:03:04:05",
            "left_mac": "00:01:02:03:04:06",
            "right_mac": "00:00:00:00:10:60",
            "source_ip": {% if conf_args.is_ipv6 %} "192:168:0:0:0:0:0:1" {% else %} "4.4.4.4" {% endif %},
            "vlan": 3,

            "left_dst_ip": "None",
            "right_dst_ip": "None",

            {# Support for multi-destination IPs #}
            "is_ipv4": "{{conf_args.is_ipv4}}",
            "is_ipv6": "{{conf_args.is_ipv6}}",
            "start_dip_ipv4": "{{conf_args.dip_left_to_right_start_ipv4}}",
            "start_dip_ipv6": "{{conf_args.dip_left_to_right_start_ipv6}}",
            "num_dip_ipv4_to_send": "{{conf_args.left_num_dip_to_send}}",
            "num_dip_ipv6_to_send": "{{conf_args.left_num_dip_to_send}}",

            {# Configure port groups - either from provided config or default mapping #}
            {% if conf_args.port_groups is defined %}
            "{{ PerfConsts.PORT_GROUPS }}": {{ conf_args.port_groups[PerfConsts.PORT_GROUPS] | tojson }}
            {% else %}
            "{{ PerfConsts.PORT_GROUPS }}": {{ get_player_unconnected_connected_after_split(conf_args.split_left) | tojson }}
            {% endif %}
        }
}
