- conf-name: {{setup_name}}-dut-t1-isolated-v6-d56u1-lag
  group-name: vm-t1
  topo: t1-isolated-v6-d56u1-lag
  ptf_image_name: docker-ptf-mlnx
  ptf: ptf-{{setup_name}}
  ptf_ip: {{ptf_ip}}/24
  ptf_ipv6:
  server: server_1
  vm_base: VM0001
  dut:
    - {{setup_name}}-dut
  inv_name: lab
  comment: Air 6600 T1 v6 LAG (SKU Mellanox-SN6600-V448P16S2, fanout SN5640)
